<h1>Ember Flipper</h1>
<label>
  <input
    type="checkbox"
    value={{this.vertical}}
    onchange={{fn this.toggleProp "vertical"}}
  >
  Flip Vertical
</label>

<h2>Click</h2>
<EmberFlipper
  @flipOn="click"
  @vertical={{this.vertical}}
as |flipper|>
  <flipper.Front>
    <div class="front-container">
      Front
    </div>
  </flipper.Front>
  <flipper.Back>
    <div class="back-container">
      Back
    </div>
  </flipper.Back>
</EmberFlipper>

<h2>Hover</h2>
<EmberFlipper
  @flipOn="hover"
  @vertical={{this.vertical}}
as |flipper|>
  <flipper.Front>
    <div class="front-container">
      Front
    </div>
  </flipper.Front>
  <flipper.Back>
    <div class="back-container">
      Back
    </div>
  </flipper.Back>
</EmberFlipper>

<h2>None</h2>
<label>
  <button type="button" {{on "click" (fn this.toggleProp "flipped")}}>
    Flip container
  </button>
</label>
<EmberFlipper
  @flipped={{this.flipped}}
  @vertical={{this.vertical}}
as |flipper|>
  <flipper.Front>
    <div class="front-container">
      Front
    </div>
  </flipper.Front>
  <flipper.Back>
    <div class="back-container">
      Back
    </div>
  </flipper.Back>
</EmberFlipper>
<a href="https://github.com/akashdsouza/ember-flipper">Visit repo</a>
